*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1434px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 40px;
  font-weight: 700;
}
/* Utility */
/* /Utility */
/* aggiungere media query */
/* Structure */
#ms_header{}
#ms_navbar{
  background: white;
}
#ms_jumbo{
  height: 450px;
  background: #004aff;
}
#ms_main{}
#ms_sponsor{
  height: 250px;
  background: #f3f5f9;
}
#ms_deploy{
  height: 620px;
  background: white;
}
#ms_preview{
  height: 680px;
  background: #f3f5f9;
}
#ms_features{
  height: 400px;
  background: white;
}
#ms_table{
  height: 400px;
  background: #084ec7;
}
#ms_carosel{
  height: 600px;
  background: white;
}
#ms_getstarted{
  height: 250px;
  background: #0042bb;
}
#ms_footer{
  height: 400px;
  background: #031c4e;
}
/* /Structure */

/* General */
.container{
  /* max-width: 80%; */
}
.ms_btn_white{
  display: inline-block;
  padding: 5px 7px;
  color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 3px;
}
.ms_btn_white:hover{
  color: white;
  background-color: #0080ff;
}

/* /General */

/* Header */
/* Navbar */
#ms_navbar{
  font-size: 13px;
  font-weight: 500;
}
#ms_navbar .ms_logo{
  padding-top: 12px;
}
#ms_navbar .ms_logo img{
  width: 140px;
}
#ms_navbar a{
  color: #031c4e;
  padding-left: 10px;
  padding-right: 10px
}
#ms_navbar .navbar-right li:last-child > a{
  padding: 10px 0 10px 15px;
}
