*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1434px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 50px;
  font-weight: 700;
}
h2{
  font-size: 40px;
  font-weight: 600;
}
h3{
  font-size: 25px;
  font-weight: 600;
}
h5{
  font-size: 20px;
  font-weight: 700;
}
p{
  font-size: 20px;
}
/* Utility */
.mt80{
  margin-top: 80px;
}
.pd0{
  padding: 0;
}
.al{
  text-align: left;
}
.ar{
  text-align: right;
}
.ms_icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
/* /Utility */
/* aggiungere media query */
/* Structure */
#ms_header{}
#ms_navbar{
  background: white;
}
#ms_jumbo{
  min-height: 450px;
  background: #004aff;
}
#ms_main{}
#ms_sponsor{
  min-height: 250px;
  background: #f3f5f9;
}
#ms_deploy{
  min-height: 620px;
  background: white;
}
#ms_preview{
  min-height: 680px;
  background: #f3f5f9;
}
#ms_features{
  min-height: 400px;
  background: white;
}
#ms_table{
  min-height: 400px;
  background: #084ec7;
}
#ms_carosel{
  min-height: 600px;
  background: white;
}
#ms_getstarted{
  min-height: 250px;
  background: #0042bb;
}
#ms_footer{
  min-height: 400px;
  background: #031c4e;
}
/* /Structure */

/* General */
.container{
  /* max-width: 70%; */
}
.ms_btn_white{
  display: inline-block;
  padding: 5px 7px;
  color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 3px;
}
.ms_btn_white:hover{
  color: white;
  background-color: #0080ff;
}

/* /General */

/* Header */
/* Navbar */
#ms_navbar{
  font-size: 13px;
  font-weight: 500;
}
#ms_navbar .ms_logo{
  padding-top: 12px;
}
#ms_navbar .ms_logo img{
  width: 140px;
}
#ms_navbar a{
  color: #031c4e;
  padding-left: 10px;
  padding-right: 10px
}
#ms_navbar .navbar-left li > a,
#ms_navbar .navbar-right li > a{
  padding: 15px 5px 15px 5px;
}
#ms_navbar .navbar-left li:last-child > a{
  padding: 15px 0 15px 10px;
}
#ms_navbar .navbar-right li:last-child > a{
  padding: 10px 15px;
}
/* /navbar */
/* jumbo */
#ms_jumbo{
  color: white;
  background-image: url(../img/jumbo.webp);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
#ms_jumbo .ms_title > h1,
#ms_jumbo .ms_title > p {
  padding-right: 50px;
}
#ms_jumbo .ms_card {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
}
#ms_jumbo .ms_card h3{
  color: #031c4e;
  line-height: 1.2;
}
#ms_jumbo .ms_card h3>span{
  color: #0080ff;
}
#ms_jumbo .ms_card input,
#ms_jumbo .ms_card button{
  display: inline-block;
  width: 90%;
  color: #444;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 2px;
  font-weight: 500;
  border: 1px solid #aaa;
}
#ms_jumbo .ms_card button{
  background-image: url(../img/google_logo.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
}
#ms_jumbo .ms_card #ms_submit{
  background-color: #579aff;
  color: white;
  border: 1px solid #579aff;
}
#ms_jumbo .ms_card #ms_submit:hover{
  background-color: #357acc;
  border: 1px solid #357acc;
}
#ms_jumbo .ms_card #ms_Gsubmit{
  background-color: white;
}
#ms_jumbo .ms_card #ms_Gsubmit:hover{
  background-color: #ddd;
}
#ms_jumbo .ms_card #ms_Gsubmit > img{
  height: 20px;
}
#ms_jumbo .ms_card p{
  color: #222;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}
#ms_jumbo .ms_card p > a{
  color: #4992ff;
}
/* /Jumbo */
/* /HEADER */

/* MAIN */
/* Sponsor */
#ms_sponsor{
  text-align: center;
  padding: 40px 0;
}
#ms_sponsor h6{
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
}
#ms_sponsor img{
  max-height: 35px;
  max-width: 150px;
  padding: 0 5px;
  margin: 30px 0;
}
#ms_sponsor p > a{
  color: #4992ff;
  font-size: 14px;
  font-weight: 500;
}
/* /Sponsor */
/* Deploy */
#ms_deploy{
  text-align: center;
  padding: 40px 0;
}
#ms_deploy h3{
  color: #031c4e
}
#ms_deploy p.ms_subtitle{
  color: #222;
  margin-bottom: 40px;
}
/* left-menu */
#ms_deploy .ms_leftmenu ul{
  border-left: 1px solid #888;
  text-align: left;
  margin-left: 40%;
}
#ms_deploy .ms_leftmenu ul li{
  list-style: none;
}
#ms_deploy .ms_leftmenu ul li a{
  text-decoration: none;
  color: #7b859e;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  padding-left: 10px;
}
/* /left-menu */
/* smallcard */
#ms_deploy .ms_smallcard{
  text-align: left;
}
#ms_deploy .ms_smallcard h5{
  color: #031c4e;
}
#ms_deploy .ms_smallcard p{
  font-size: 16px;
  color: #7b859e;
}
/* /DEPLOY */
/* PREVIEW */
#ms_preview{
  text-align: center;
  padding: 40px 0;
}
#ms_preview h3{
  color: #031c4e;
}
#ms_preview p{
  color: #222;
  margin: 30px 0 40px 0;
}
#ms_preview figure img{
  margin-bottom: 20px;
  text-align: center;
}
#ms_preview figure .ms_arrow_left::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f104";
  font-size: 40px;
  padding-right: 20px;
}
#ms_preview figure .ms_arrow_right::after{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
  font-size: 40px;
  padding-left: 20px;
}
#ms_preview figure > a{
  text-decoration: none;
}
#ms_preview figure figcaption{
  color: #031c4e;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
#ms_preview .ms_scroll{
  color: #006aff;
}
