*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1434px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 40px;
  font-weight: 700;
}
/* Utility */
/* aggiungere media query */
.container{
  max-width: 70%;
}
/* /Utility */
.btn_white{

}
/* Structure */
#ms_header{}
#ms_navbar{
  background: white;
}
#ms_jumbo{
  height: 450px;
  background: #004aff;
}
#ms_main{}
#ms_sponsor{
  height: 250px;
  background: #f3f5f9;
}
#ms_deploy{
  height: 620px;
  background: white;
}
#ms_preview{
  height: 680px;
  background: #f3f5f9;
}
#ms_features{
  height: 400px;
  background: white;
}
#ms_table{
  height: 400px;
  background: #084ec7;
}
#ms_carosel{
  height: 600px;
  background: white;
}
#ms_getstarted{
  height: 250px;
  background: #0042bb;
}
#ms_footer{
  height: 400px;
  background: #031c4e;
}
/* /Structure */

/* General */

/* /General */
